@import "cores";

body{
    margin: 0;

}


header{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    #menu-hamburguer{
        position: relative;

        width: 50px;
        height: 50px;
      
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
        border: 1px solid white;
        border-radius: 5px;
        
        cursor: pointer;
    }
}

    
#esconde {
    background-color: rgba(230, 230, 230, 0.836);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.30);
    display: none;
    position: fixed;
    right: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
}

#esconde.visible {
    display: inline;
}

    .infos{
        text-decoration: none;
        color: black;
        font-size: 18pt;
        padding: 40px;
        text-align: center;
    }


    .tracinho {
        background-color: white;
        height: 2px;
        width: 80%; 

    }

    .tracinho.visible {
        position: absolute;
      
        transition: 0.5s;
      }
      
      .tracinho.visible:nth-child(1) {
        transform: rotate(45deg);
      }
      
      .tracinho.visible:nth-child(2) {
        display: none;
      }
      
      .tracinho.visible:nth-child(3) {
        transform: rotate(-45deg);
      }
      


    nav{

        display: none;

        a{
            color: white;
            text-decoration: none;
            padding: 0 10px;
            font-family: 'Niramit', sans-serif;
            padding: 20px;
        }
    }


    div{
        width: 50px;

        img{
            width: 100%;
            padding: 10px
        }

    }

//.tracinho.visible {
//     position: absolute;

//     transition: 0.5s;
//   }
  
//   .tracinho.visible:nth-child(1) {
//     transform: rotate(45deg);
//   }
  
//   .tracinho.visible:nth-child(2) {
//     display: none;
//   }
  
//   .tracinho.visible:nth-child(3) {
//     transform: rotate(-45deg);
//   }
//
@media (min-width: 750px){

    header{

        #menu-hamburguer{
            display: none;
        }

        nav{
            display: block;
        }
    }



}
