@import "cores";

body{
    margin: 0;
}

header{
    background-color: #ffbf00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    position: fixed;
    
    div {
            display: flex; 
            align-items: center;
    
        img{
            width: 17%;
            height: 17%;
            padding: 2px;
            filter: invert(1);
            
        }

        p {
            align-items: baseline;   
            font-size: 35px;
            font-family: 'Spicy Rice', cursive;
            color: whitesmoke;
        }
        
    }
    
    #menu-hamburguer{
        position: relative;
        
        width: 50px;
        height: 50px;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
        border: 1px solid white;
        border-radius: 5px;
        
        cursor: pointer;
    }
}


#esconde {
    background-color: rgba(230, 230, 230, 0.836);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.30);
    z-index: -1;
    transform: translateY(-100%);
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

#esconde.visible {
    transform: translateY(0);
    
}

.tracinho {
    background-color: white;
    height: 2px;
    width: 80%; 
    
}

.tracinho.visible {
    position: absolute;
    
    transition: 0.5s;
}

.tracinho.visible:nth-child(1) {
    transform: rotate(45deg);
}

.tracinho.visible:nth-child(2) {
    display: none;
}

.tracinho.visible:nth-child(3) {
    transform: rotate(-45deg);
}


.infos {
    text-decoration: none;
    color: black;
    font-family: 'Niramit', sans-serif;
    font-size: 18pt;
    padding: 40px;
    text-align: center;
}

nav{
    
    display: none;
    
    a{
        color: white;
        text-decoration: none;
        padding: 0 5px;
        font-family: 'Niramit', sans-serif;
        font-size: 25px;
        padding: 20px;
    }
    
}

section.banner{
    background-image: url(../img/capa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    
    div{
        padding: 170px;
           
        h1{
            margin: 0;
            color: white;
            padding: 0 15px;
            text-align: center;
            font-size: 45pt;
            font-family: 'Bitter', serif;
            border-bottom: 2px solid rgba(230, 230, 230, 0.836);
            text-shadow: 1px 11px 40px black;
        }
        
        p{
            color: white;
            padding: 0 10px;
            text-align: center;
            font-size: 13pt;
            font-family: 'Bitter', serif;      
            text-shadow: 1px 1px 2px black;
            
        }
        
    }
}

section.card{

    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Bitter', serif;
     
    p{
        display: block;
        font-size: 12pt;
        text-align: center;
    }

    div {
    
        border-radius: 5px;
        border: 2px solid gray;
        width: 30%;
        padding: 5px;
        text-align: center;
}
    img{
        margin-top: 10px;
        width: 60px;
        height: 60px;
    }
}

section.carousel {
        width: 600px;
        height: 600px;
        overflow: hidden;
        position: relative;
        display: block;
    
    img{
        image-rendering: auto;
    }

    div.img-carousel.inner {
        display: flex;
        position: absolute;
        left: -640px;  
        transition: left 0.25 ease-out;
    }

    div.next::after, div.prev::after {
        content: '>';
        color: brown;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: white;
        width: 25px;
        height: 75px;
        font-weight: bold;
        font-family: 'Spyce+Rice', sans-serif;
        transform: translateY(-50%);
        line-height: 3em;
        box-sizing: border-box;
        padding: 5px;
        font-size: 25px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.4s linear;
        
    }

    div.next:hover::after, div.prev:hover::after{
        opacity: 1;

    }
    
    div.prev::after {
        content: '<';
        left: 0;
    }

    div.bubbles {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0%;
        left: 0;
        right: 0%;
        margin-bottom: 5px;
        
        .bubble {
            margin:2.5px;
            background-color: white;
            border-radius: 100000px;
            width: 10px;
            height: 10px;
            display: inline-block;
            opacity: 0.25;
            transition: opacity 0.1s linear;
            cursor: pointer;

            &:hover {
                opacity: 0.65;
            }

            &.active{
                opacity: 1;
            }

        }
    }

}

footer{
    
    background-color: #ffbf00;
    color: whitesmoke;
    position: relative;
    margin: 0%;
    text-align: center;
    font-family: 'Bitter', serif;
    padding-top: 50px;
    padding-bottom: 20px;
    
    p {
         display: block;
    }
}

/* Style dos sliders*/
.slides{
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Bitter', serif;
    margin-left: 125px;
    
}
.textSlides{
    display: flex;
    width: 50%;
    padding-left: 30px;
    flex-direction: column;

    .campo{
        width: 450px;
        div{
            p{
                width: 100%;
            }
            span {
                font-weight: bold;
        
            }

        }


    }



    
}
.slideshow-container {
    position: relative;
    width: 50%;

    img{
        width: 100%;
        height: 350px;
    }

  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
//.tracinho.visible {
    //     position: absolute;
    
    //     transition: 0.5s;
    //   }
    
    //   .tracinho.visible:nth-child(1) {
        //     transform: rotate(45deg);
        //   }
        
        //   .tracinho.visible:nth-child(2) {
            //     display: none;
            //   }
            
            //   .tracinho.visible:nth-child(3) {
                //     transform: rotate(-45deg);
                //   }
                //
                @media (min-width: 750px){
                    
                    header{
                        
                        z-index: 1;
                        
                        #menu-hamburguer{
                            display: none;
                        }
                        
                        nav{
                            display: block;
                        }
                        
                        
                        #esconde.visible {
                            transform: translateY(0);
                        }
                        
                    }
                    
                    
                    #esconde{
                        display: none;
            
                    }
                    
                    
                    
                    
                }
                